@use 'variables.scss' as vars;

* {
  margin: 0;
  padding: 0;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  background: vars.$white;
}

a {
  text-decoration: none;
  background: transparent;
  color: vars.$black;
}

.main-pages {
  height: 90dvh;
}

section {
  padding: 2rem 1rem;

  .top-text {
    @include vars.flex-row;
    justify-content: space-between;
    margin: 0 0.5rem;
  }

  .row-text {
    @include vars.flex-row;
    gap: 0.5rem;
    justify-content: center;
  }
}
