@use './variables.scss' as vars;

button {
  border: 1px solid vars.$black;
  padding: 3px;
}

.site-button {
  border: 2px solid vars.$dark-purple;
  border-radius: 30px;
  padding: 5px 15px;
  font-size: 1.3rem;
  font-weight: 300;
  background: vars.$light-purple;
  color: vars.$dark-purple;
}

.site-button.round {
  padding: 5px 11px;
}

.buttons {
  @include vars.flex-row;
  gap: 1rem;
}

.show-hide-pwd {
  @include vars.flex-col;
  border: none;
  border-radius: 10px;
  background: transparent;

  img {
    width: 1.5rem;
  }
}
