// colors
$white:        #eee9f1;
$card-light:   #ffffff;
$black:        #0a0012;
$light-purple: #e2cef0;
$purple:       #663c84;
$dark-purple:  #27083e;

@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
