@use '/src/styles/variables.scss' as vars;

nav.link-cards {
  @include vars.flex-col;
  gap: 2rem;
  margin: 2rem 0;

  .link-card {
    background: vars.$card-light;
    width: 100%;
    border-radius: 10px;
  }

  .link-card:focus {
    outline: none;
    border: 2px solid black;
  }

  article.link-card-body {
    @include vars.flex-row;
    justify-content: space-between;
    padding: 1rem;
  }
}
