@use '/src/styles/variables.scss' as vars;

article.card {
  background-color: vars.$card-light;
  border-radius: 30px;
  margin-top: 1rem;
  width: 95%;

  .card-body {
    padding: 1rem 1.5rem;
  }

  h3 {
    font-size: 6rem;
    font-weight: 500;
    text-align: center;
  }
}
