@use '/src/styles/variables.scss' as vars;

section.form {
  article.card {
    width: 100%;
  }
}

header.form-header {
  @include vars.flex-col;
  gap: 1rem;

  h2 {
    font-size: 1rem;
  }
}

form.login, form.signup {
  @include vars.flex-col;
  gap: 1rem;
  margin: 1rem 0 2rem 0;
  padding: 1.5rem 0;

  .label-input {
    @include vars.flex-col;
    gap: 0.2rem;
    width: 80%;
  }

  label {
    font-size: 1.1rem;
    align-self: flex-start;
  }

  input, .password-input {
    border: 1.3px solid vars.$dark-purple;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    font-size: 1.1rem;
    font-weight: 300;
    background: white;
    color: vars.$dark-purple;
  }

  input#password {
    border: none;
    padding-left: 0;
  }

  .password-input {
    @include vars.flex-row;
    align-items: center;
    padding: 0 5px;
  }
}
