// @use '/src/styles/variables.scss' as vars;

// nav.main-nav {
//   @include vars.flex-row;
//   justify-content: space-around;
//   background: vars.$light-purple;
//   width: 100%;
//   height: 10dvh;
//   position: fixed;
//   bottom: 0;

//   a {
//     color: vars.$black;
//   }
// }
