@use '/src/styles/variables.scss' as vars;

img.loading-element {
  @include vars.flex-col;
  width: 6rem;
  margin: auto;
  animation: spin-right 1s linear 0s infinite normal;
}

@keyframes spin-right {
  from { transform: rotate(0deg) }
  to   { transform: rotate(360deg) }
}
